version: "3.9"

services:
  web:
    build: .
    container_name: homepage_server
    restart: unless-stopped
    ports:
      - "3008:3008"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=production
    dns:
      - 192.168.1.81

